<link href='/images/fav.png' rel='shortcut icon'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
<link href='/stylesheets/style.css' rel='stylesheet' type='text/css' />
<link href='/stylesheets/syntax.css' rel='stylesheet' type='text/css' />
<link href='/stylesheets/responsive.css' rel='stylesheet' type='text/css' />
<!-- - -->
<script src='/javascripts/jquery.js' type='text/javascript'></script>
<script src='/javascripts/pd.js' type='text/javascript'></script>
<script src='/javascripts/basics.js' type='text/javascript'></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<!-- - -->
<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
{% if page.image %}
  <meta content="{{ site.url }}{{ page.image.src }}" property="og:image" />
  <meta name="twitter:image:src" content="{{ site.url }}{{ page.image.src }}" />
{% else %}
  <meta content="{{ site.url }}{{ site.main_image }}" property="og:image" />
  <meta name="twitter:image:src" content="{{ site.url }}{{ site.main_image }}" />
{% endif %}
<meta content="{{ site.title }}" property="og:site_name" />
<meta content="{{ site.facebook_appid }}" property="fb:app_id" />
<meta content='{{ site.url }}{{ page.url }}' property='og:url' />
<meta content='{{ site.url }}{{ page.url }}' name='twitter:url' />
{% if page.title %}
  <meta content="{{ page.title }}" property="og:title" />
  <meta name="twitter:title" content="{{ page.title }}" />
{% endif %}
{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta content="{{ page.description }}" property='og:description' />
  <meta name="description" content="{{ page.description }}" />
{% else %}
  <meta name="twitter:description" content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 120 }}" />
  <meta content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 120 }}" property='og:description' />
  <meta name="description" content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 120 }}" /> 
{% endif %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@whiskydev" />
<meta name="twitter:creator" content="@whiskydev" />
{% if page.date %}
  <meta content="article" property="og:type" />
{% else %}
  <meta content="website" property="og:type" />
{% endif %}
{% if page.redirect %}
  <meta http-equiv="refresh" content="0; url={{ page.redirect }}">
  <link rel="canonical" href="{{ page.redirect }}" />
{% endif %}
<!-- - -->
{% include ga.html %}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=604714799556697";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
