<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      <div class="content">
        {% if page.redirect %}
          <div class="moved">
          	The page you are viewing has moved. <a href="{{ page.redirect }}">Click here</a> to be taken to the new page.
          </div>
      	{% endif %}    
          <section class='post'>
            <h1>{{ page.title }}</h1>
        	{% if page.image %}
          	<p>
	          <img src="{{ page.image.src }}" alt="{{ page.image.desc }}" />
	      	</p>    
	      	{% endif %}
            {{ content }}
          </section>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>