<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      {% include pages.html %}
      <div class="content">
        <section class='post'>
          {% if page.redirect %}
          	<div class="moved">
            	The page you are viewing has moved. <a href="{{ page.redirect }}">Click here</a> to be taken to the new page.
            </div>
          {% endif %}        
          <h1 class="upcase">
            <div class='date'>{{ page.date | date_to_string }}</div>
            {{ page.title }}
          </h1>
          {% if page.image %}
          <p>
	          <img src="{{ page.image.src }}" alt="{{ page.image.desc }}" />
	      </p>    
	      {% endif %}
          {{ content }}
          {% include signoff.html %}


        </section>
      </div>
      {% if page.share == 'y' %}
        {% include share.html %}
      {% endif %}

      {% if page.disqus == 'y' %}
        {% include disqus.html %}
      {% endif %}
      {% include links.html %}
    </div>
    {% include footer.html %}
  </body>
</html>
